<div class="bg-neutral-700 rounded overflow-hidden my-6 shadow-lg shadow-neutral-700">
  <img
    class="w-full"
    src="https://rickandmortyapi.com/api/character/avatar/1.jpeg"
    alt="Rick Sanchez"
  />
  <div class="py-2 px-4">
    <h1 class="text-lg font-semibold">Rick Sanchez</h1>
    <div class="flex items-center gap-2">
      <span
        class="inline-block w-3 h-3 rounded-full bg-green-500 border border-neutral-700"
      ></span>
      <span>Alive</span>
      <span class="inline-block w-2 h-[1px] bg-neutral-100"></span>
      <span>Human</span>
    </div>
    <div class="my-2">
      <p class="text-neutral-400 inline-block mr-1">Location:</p>
      <a routerLink="" class="hover:text-green-500">Earth</a>
    </div>
    <div class="my-2">
      <a routerLink="" class="hover:text-green-500">First appearance</a>
    </div>
  </div>
</div>
