<h1
  class="pt-24 mb-8 text-neutral-800 font-bold text-center text-lg md:text-3xl"
>
  I’M A SCIENTIST; BECAUSE I INVENT, TRANSFORM, CREATE, AND DESTROY FOR A
  LIVING, AND WHEN I DON’T LIKE SOMETHING ABOUT THE WORLD, I CHANGE IT.
</h1>
<div class="w-full flex justify-between">
  <a
    routerLink="/characters"
    class="text-neutral-700 text-base md:text-xl font-semibold rounded px-4 py-2 hover:shadow-md hover:shadow-neutral-800 transition-all cursor-pointer"
  >
    Characters
  </a>
  <a
    routerLink="/episodes"
    class="text-neutral-700 text-base md:text-xl font-semibold rounded px-4 py-2 hover:shadow-md hover:shadow-neutral-800 transition-all cursor-pointer"
  >
    Episodes
  </a>
  <a
    routerLink="/locations"
    class="text-neutral-700 text-base md:text-xl font-semibold rounded px-4 py-2 hover:shadow-md hover:shadow-neutral-800 transition-all cursor-pointer"
  >
    Locations
  </a>
</div>
<div class="grid grid-cols-1 md:grid-cols-3 gap-4 my-8">
  <app-card *ngFor="let character of characters" [character]="character" />
</div>
<div class="w-full flex justify-center gap-2">
  <button
    *ngIf="infos.prev"
    (click)="handlePrevPage(infos.prev)"
    class="px-4 py-2 bg-green-900 hover:shadow-md hover:shadow-neutral-800 rounded transition-all"
  >
    previous
  </button>
  <button
    *ngIf="infos.next"
    (click)="handleNextPage(infos.next)"
    class="px-4 py-2 bg-green-900 hover:shadow-md hover:shadow-neutral-800 rounded transition-all"
  >
    next
  </button>
</div>
