<h1 class="pt-24 mb-8 text-neutral-800 font-bold text-center text-lg md:text-3xl">
  I’M A SCIENTIST; BECAUSE I INVENT, TRANSFORM, CREATE, AND DESTROY FOR A
  LIVING, AND WHEN I DON’T LIKE SOMETHING ABOUT THE WORLD, I CHANGE IT.
</h1>
<div class="w-full flex justify-between">
  <button
    class="text-neutral-700 text-base md:text-xl font-semibold rounded px-4 py-2 hover:shadow-md hover:shadow-neutral-800 transition-all"
  >
   Characters
  </button>
  <button
    class="text-neutral-700 text-base md:text-xl font-semibold rounded px-4 py-2 hover:shadow-md hover:shadow-neutral-800 transition-all"
  >
   Episodes
  </button>
  <button
    class="text-neutral-700 text-base md:text-xl font-semibold rounded px-4 py-2 hover:shadow-md hover:shadow-neutral-800 transition-all"
  >
    Locations
  </button>
</div>
<div class="grid grid-cols-1 md:grid-cols-3 gap-2">
  <app-card />
  <app-card />
  <app-card />
  <app-card />
  <app-card />
  <app-card />
</div>
